.NavBarLogo {
    display: flex;
    background-size: cover;
    background-position: center;
    background-color: rgb(247, 249, 248);
    width: 30%;
    height: 60px;
    float: left;
    position:inherit;
    color: rgb(196, 187, 187);
    object-fit: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url("../../img/blockbusters.png");  

    
  }
.container_img{
  width: 30%;
  display: none;
  height: 70px;
   margin: 0 auto;
}

@media screen and (max-width:480px){
  .NavBarLogo{
  width: 100%;
  display: list-item;
  height: 100%;
   margin: 0 auto;
   justify-content: space-between;
   background-size: contain;
   background-position: center;
  }
}